{% extends "layout.html" %}
{% block meta_description %}
Sign back in to your account to manage your projects or apply to o=more positions.
{% endblock %}

{% block content %}
<div class="bounds">
  <div class="grid-30 centered">
    <h2>Sign In</h2>
    <form>
      <input type="email" placeholder="Email Address" />
      <input type="password" placeholder="Password" />
      <button class="button-primary">Sign In</button>
      <a class="button" href="signup.html">Sign Up</a>
    </form>
  </div>
</div>
{% endblock %}